{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "plugins": [
    "json",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "prettier"
  ],
  "rules": {
    "indent": ["warn", 2],
    "no-const-assign": "warn",
    "no-this-before-super": "warn",
    "no-undef": "warn",
    "no-unreachable": "warn",
    "no-unused-vars": "warn",
    "constructor-super": "warn",
    "valid-typeof": "warn",
    "quotes": ["warn", "double",
      {
        "allowTemplateLiterals": true,
        "avoidEscape": true
      }
    ],
    "semi": ["error", "always",
      {
        "omitLastInOneLineBlock": true
      }
    ],
    "no-console": 0,
    "prettier/prettier": "warn"
  }
}
